@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
}

.response{
    font-family: 'Josefin Sans', cursive;
}

